// 1. Mixin を定義
@mixin float-style($floatValue) {
  @if $floatValue {
    float: left;
  } @else {
    float: right;
  }
}

.container {
  width: 100%;
  overflow: hidden; /* float を適用した要素を正しく表示 */
}
.box {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  margin: 10px;
  text-align: center;
  line-height: 100px;
  border: 1px solid #000;
}

// 2. クラスで Mixin を展開
.is-float {
  @include float-style(true);
}

.is-not-float {
  @include float-style(false);
}
